@font-face {
  font-family: vazir;
  src: url("../../../public/fonts/Vazir-Medium.woff");
}

.education {
  width: 80%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education h2 {
  font-weight: bold;
  color: yellow;
}
.education hr {
  color: yellow;
  width: 400px;
  margin: 10px auto;
}
.vertical {
  margin-top: 40px;
  width: 75%;
}

.vertical-timeline-element-title {
  font-size: 18px;
  font-weight: bold;
}
.vertical-timeline-element-subtitle {
  font-size: 15px;
  color: rgb(56, 56, 56);
  font-family: vazir;
}
.light .education h2 {
  font-weight: bold;
  color: black;
  font-weight: bold;
  font-family: vazir;
}
.light .education hr {
  color: black;
  width: 400px;
  margin: 10px auto;
}
.light .education {
  color: black;
}
